{{>LoginHeder}}

<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="/assets/loggin/images/img-01.png" alt="IMG">
				</div>

				<form action="/otpLogin" method="post" class="login100-form validate-form">
					<span class="login100-form-title">
						OTP Login
					</span>

					<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
						<input class="input100" type="number" name="phone" placeholder="Mobile">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-mobile" aria-hidden="true"></i>
						</span>

					</div>

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">Send OTP

						</button>
					</div>

				</form>
			</div>
		</div>
	</div>

</body>
{{>LoginFooter}}